<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Login Feature" parallel="instances" thread-count="1">
    <listeners>
        <listener class-name="Main.PdfReportListener"/>
    </listeners>
    <test name="LogIn">
        <classes>
            <class name="Login.VerifyTheLoginSection"/>
        </classes>
    </test>
</suite>


<!--<groups>-->
<!--<run>-->
<!--    <include name="Login"/>-->
<!--</run>-->
<!--</groups>-->


